html {
  scroll-behavior: smooth;
}

body {
  color: var(--tx-primary);
  background: var(--bg-primary);
  accent-color: var(--accent);
}

/* Top nav */
.top-nav {
  background: var(--bg-navigation);
  z-index: var(--z-nav);
}

/* Content */
.content {
  background: var(--bg-content);
  border-radius: var(--border-radius);
  box-shadow: 0 0 1px 0 var(--shadow);
  padding: 1rem 1.5rem;
}

/* Sidebar */
.sidebar a {
  color: var(--tx-aside);
}

.sidebar a.current {
  color: var(--tx-highlight);
  background: var(--bg-highlight);
}

/* Table of Contents */
.utils #TableOfContents > ul {
  background-color: var(--bg-item);
  border-color: var(--border-item);
  border-style: solid;
  border-radius: var(--border-radius);
}

.utils #TableOfContents ul li a {
  color: var(--tx-aside);
}

.utils #TableOfContents ul ul {
  border-color: var(--border-item);
}

/* Breadcrumbs */
.breadcrumb-item {
  color: var(--tx-subtle);
}

.breadcrumb-item a,
.breadcrumb-item a.current {
  color: inherit;
}

/* Footer */
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fxs);
  color: var(--tx-aside);
  background-color: var(--bg-footer);
  padding: var(--gutter);
}

.footer-wrapper a {
  color: inherit;
  text-decoration: underline;
}

.footer-wrapper a:hover {
  color: var(--accent);
}