button {
  border: none;
}

button, a.button {
  display: inline-block;
  color: var(--tx-prominent);
  background: var(--bg-interactive);
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

button.frameless, a.button.frameless {
  background: none;
  padding: 0.25rem;
}

button:hover, a.button:hover {
  background: var(--bg-hover);
}

a.button:hover {
  text-decoration: none;
}

/* Button icons */
.button .icon {
  margin: 0 -1px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown */
select button {
  padding: 0;
}
