input[type=checkbox] {
  font: inherit;
  appearance: none;
  background-color: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--border-interactive);
  border-radius: var(--border-radius);
  margin: 0 0.5ch;
  padding: 0;

  display: grid;
  place-content: center;
}

input[type=checkbox]::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--bg-content);
  transform-origin: bottom left;
  clip-path: var(--clip-checkmark);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type=checkbox]:checked {
  background-color: var(--accent);
  border-color: var(--accent);
}

input[type=checkbox]:focus {
  outline: max(2px, 0.15rem) solid currentColor;
  outline-offset: max(2px, 0.15rem);
}

input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}
