/* Inline */
code {
  font-size: var(--fs);
  font-family: var(--font-code);
  font-weight: 400;

  /*
  background-color: var(--bg-item);
  border: 1px solid var(--border-item);
  */

  position: relative;
  overflow-x: auto;
  padding-inline: 0.1rem;
  padding-block: 0.1lh;
  width: 100%;
}

/* Block */
pre {
  font-size: inherit;
  margin: 0;
}

pre code {
  display: block;
  padding: 0.5rem 1rem;
  tab-size: 4;
}

.codeblock-file {
  font-size: var(--fs);
  font-family: var(--font-code);
  background-color: var(--bg-accent);
  padding: 0.5rem 1rem;
}
