.icon {
  background-color: currentColor;
  display: inline-block;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-button {
  display: flex;
  align-items: center;
  background-color: var(--social-icon-background);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  transition: background-color 0.25s ease, transform 0.25s ease;
}

.social-icon {
  stroke: var(--social-icon);
  fill: var(--social-icon);
  width: 100%;
  height: auto;
}

.social-button:hover {
  transform: scale(1.1);
}

.social-button:hover .social-icon {
  stroke: var(--social-icon-hover);
  fill: var(--social-icon-hover);
}

.social-button.social-discord:hover {
  background-color: var(--social-discord);
}

.social-button.social-github:hover {
  background-color: var(--social-github);
}

/* Icon assets */
.icon.icon-menu {
  mask-image: url('/icon/menu.svg');
}

.icon.icon-system {
  mask-image: url('/icon/theme-system.svg');
}

.icon.icon-light {
  mask-image: url('/icon/theme-light.svg');
}

.icon.icon-dark {
  mask-image: url('/icon/theme-dark.svg');
}

.icon.icon-note {
  mask-image: url('/icon/note.svg');
}

.icon.icon-tip {
  mask-image: url('/icon/tip.svg');
}

.icon.icon-important {
  mask-image: url('/icon/important.svg');
}

.icon.icon-warning {
  mask-image: url('/icon/warning.svg');
}

.icon.icon-caution {
  mask-image: url('/icon/caution.svg');
}

.icon.icon-search {
  mask-image: url('/icon/search.svg');
}

.icon.icon-chevron-left {
  mask-image: url('/icon/chevron-left.svg');
}

.icon.icon-close {
  mask-image: url('/icon/close.svg');
}
