a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.current {
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}

a[class] {
  color: var(--tx-primary);
}
