body.noscroll {
  overflow: hidden;
  max-height: 100vh;
}

.overlay {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #141414ec;
}

.modal {
  background: var(--bg-modal);
}
