table {
  border-collapse: collapse;
}

table th {
  background-color: var(--bg-item);
}

table tr {
  border: 1px solid var(--border-item);
}

table th,
table td {
  text-align: left;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  min-width: 5rem;
}

/* Horizontal scroll tables */
.table-wrapper {
  display: block;
  overflow-x: auto;
}

.table-wrapper table {
  white-space: nowrap;
}
