table {
  border-collapse: collapse;
  background-color: var(--bg-item);
}

table th,
table td {
  text-align: left;
  padding: 0.25rem 1rem;
}

table th {
  background-color: var(--bg-accent);
  border: 1px solid var(--bg-accent);
}

table td {
  border: 1px solid var(--border-item);
}

/* Horizontal scroll tables */
.table-wrapper {
  display: block;
  overflow-x: auto;
}

.table-wrapper table {
  white-space: nowrap;
}
