h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
  margin-block-start: 0;
  margin-block-end: 1rem;
}
