#TableOfContents > ul {
  background-color: var(--bg-item);
  border-color: var(--border-item);
  border-style: solid;
  border-radius: var(--border-radius);
}

#TableOfContents ul li a {
  color: var(--tx-aside);
}

#TableOfContents ul ul {
  border-color: var(--border-item);
}

@media (min-width: 769px) {
  #TableOfContents > ul {
    font-size: var(--fs);
    border-width: 1px;
    padding: 0.5rem 1rem;
  }

  #TableOfContents ul li a {
    padding: 0 0.5rem;
  }

  #TableOfContents ul ul {
    border-left-width: 1px;
    border-left-style: dashed;
    margin-left: 0.75rem;
    padding-left: 0.25rem;
  }
}
