#TableOfContents > ul {
  background-color: var(--bg-item);
  border: 1px solid var(--border-item);
  border-radius: var(--border-radius);
}

#TableOfContents ul li a {
  color: var(--tx-aside);
}

@media (min-width: 769px) {
  #TableOfContents > ul {
    font-size: var(--fs);
    padding: 0.5rem 1rem;
  }

  #TableOfContents ul li a {
    padding: 0 0.5rem;
  }

  #TableOfContents ul ul {
    margin-left: 0.75rem;
    padding-left: 0.25rem;
    border-left: 1px dashed var(--border-item);
  }
}
