<div class="table-wrapper">
  <table>
    <caption><h2>Recent Changes</h2></caption>
    <thead>
      <tr>
        <th>Page</th>
        <th>Summary</th>
        <th>Date</th>
        <th>Diffs</th>
      </tr>
    </thead>
    <tbody>
      {{ $byLastMod := .Site.RegularPages.ByLastmod }}
      {{ range ($byLastMod | last 8).Reverse }}
      <tr class="change">
        <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
        <td>{{ with .GitInfo }}{{ .Subject }}{{ end }}</td>
        <td>{{ .Lastmod.Format "Jan 02" }}</td>
        <td>{{ with .GitInfo }}<a href="{{ $.Site.Params.repository.mainURL }}/commit/{{ .Hash }}" target="_blank">commit</a>{{ end }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
