.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: clip;
  overflow-y: visible;
  position: relative;
  width: 100%;
}

.homepage section {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  padding: 1rem var(--gutter);
}

.hero {
  align-items: center;
  text-align: center;
}

.hero .logo {
  margin-bottom: 0.5rem;
}

.tile-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 2rem;
}

.tile-container .img-tile {
  position: relative;
  outline: 1px solid #000;
}

.img-tile-text {
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  background: linear-gradient(to right, #000 35%, transparent);
}

.main-search-container {
  width: 100%;
}

.main-search-container .main-search-bar {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem 1.5rem;
}