{{ define "main" }}
<div class="page-wrapper">
  <div class="shell category-standard">
    <main class="main-content">
      <div class="homepage">
        <section class="hero">
          <div class="logo"><kbd>Tabbed</kbd> <kbd>Out</kbd></div>
          <p>{{ i18n "home_intro" }}</p>
          <div class="social-links"></div>
        </section>
        <section class="important-sections">
          <div class="tile-container">
            {{ range .Pages }}
              {{ if .IsSection }}
                <a class="img-tile" href='{{ .RelPermalink }}'>
                  <img src="" alt="{{ .LinkTitle }}" width="240" height="135">
                  <div class="img-tile-text">{{ .LinkTitle }}</div>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </section>
        <section>
          {{ partial "components/recent-changes.html" . }}
        </section>
        <section class="featured-contributors"></section>
      </div>
    </main>
  </div>
</div>
{{ end }}
{{ define "scoped" }}
  {{- $scopedCSS := resources.Get "css/home.css" | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $scopedCSS.RelPermalink }}">
{{ end }}