{{- $parsed := urls.Parse .Destination -}}
<a
  {{ if and ($parsed.IsAbs) (eq $parsed.Scheme "https") }}
    {{- if findRE `^([a-z0-9-]+\.)?(tabbedout\.wiki|wikipedia\.org|toolkits\.gg)$` $parsed.Hostname -}}
      href="{{ .Destination | safeURL }}"
      rel="external"
      target="_blank"
    {{- else -}}
      href="{{ site.Params.DocURL }}/{{ site.Language.Lang }}/request-whitelist"
      title="Non-whitelisted link"
      target="_blank"
    {{- end -}}
  {{ else }}
    href="{{ .Destination | relLangURL }}"
  {{ end }}
>{{ .Text | safeHTML }}</a>