<footer class="footer-wrapper">
  <div class="footer-list">
    <ul>
      <li><a href="https://www.tabbedout.wiki/{{ $.Site.Language }}/legal/privacy-policy">Privacy Notice</a></li>
      <li><a href="https://www.tabbedout.wiki/{{ $.Site.Language }}/legal/terms">Terms of Use</a></li>
      <li><a href="https://www.tabbedout.wiki/{{ $.Site.Language }}/guidelines">Guidelines</a></li>
    </ul>
  </div>
  <div class="footer-legal">
    <p id="license" class="footer-license-text">Content on this site is available under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons (CC BY-NC-SA 4.0)</a></p>
  </div>
</footer>