<div class="top-nav">
  <div class="nav-logo">
    <a class="logo" href="{{ site.Home.Permalink }}">
      <img class="logo-img" width="80" height="32" src="/logo.svg" alt="">
    </a>
  </div>
  <div id="PageFindSearch"></div>
  <div class="site-actions">
    <button class="button frameless site-action-toggle" type="button" aria-label="{{ i18n "nav_page_actions" }}">
      <span class="button-wrapper">
        <span class="icon icon-menu"></span>
        <span class="sr-only">{{ i18n "sr_main_menu_open" }}</span>
      </span>
    </button>
    <ul class="site-action-list">
      <li class="site-action">
        {{ partialCached "components/theme-switch.html" . }}
      </li>
      {{ if .IsTranslated }}
      <li class="site-action">
        {{ partial "components/language-switch.html" . }}
      </li>
      {{ end }}
    </ul>
  </div>
</div>